[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "<2.0.0"

[packages]
flask = "==1.0.2"
"psycopg2" = "*"
flask-bcrypt = "*"
gevent = "*"
flask-wtf = "*"

[requires]
python_version = "2.7"
